@font-face {
    font-family: Marston;
    src: url(fonts/MarstonBold.otf);
}

body{
  display: none;
 }
   .mission-panel {
       background: rgba(0, 0, 0, 0.534);
       width: 20rem;
       border-radius: 4px;
       color: #ffffff;
       font-family: 'Marston', serif;
       padding: 2px;
       position: relative;
       top: 2vw;
       left: 80vw;
   }

   .panel-header {
     background: 
linear-gradient(rgb(92, 14, 14), rgb(92, 14, 14)), 
url('https://i.postimg.cc/zf9qXLdB/Pngtreegrunge-overlay-texture-9025510.png');  
background-size: cover;
background-blend-mode: multiply;
       padding: 8px 12px;
       display: flex;
       align-items: center;
       gap: 10px;
   }

   .help-icon {
       width: 1vw;
       height: 1vw;
       /* background: #333; */
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 1.3rem;
   }

   .mission-list {
       padding: 0;
       margin: 0;
       list-style: none;
   }

   .mission-item {
       padding: 10px 12px;
       border-bottom: 1px solid #000;
       display: flex;
       align-items: center;
       gap: 10px;
       transition: background 0.2s;
   }

   .mission-item:hover {
       background: rgba(255, 255, 255, 0.05);
       cursor: pointer;
   }

   .mission-progress {
       /* color: #888; */
       font-size: 1.2rem;
       min-width: 45px;
   }

   .mission-text {
       flex-grow: 1;
       font-size: 14px;
       line-height: 1.4;
   }